@model StackFlow.Models.Project
<form method="post">
    <label>Project Name:</label>
    <input type="text" id="ProjectName" name="Project Name"><br>
    <label>Description:</label>
    <input type="text" id="ProjectDescription" name="Project Description"><br>
    <label>Status:</label>
    <input type="text" id="ProjectStatus" name="Project Status"><br>
    <label>Start Date:</label>
    <input type="text" id="StartDate" name="Start Date"><br>
    <label>End Date:</label>
    <input type="text" id="EndDate" name="End Date"><br>
    <button type="submit">Create</button>
</form>
