
@model StackFlow.Models.Project
<h2>@Model.Project</h2>
<p>@Model.Description</p>
<p>Start: @Model.StartDate.ToShortDateString()</p>
<p>End: @Model.EndDate.ToShortDateString()</p>
<a href="/Projects/Index">Back</a>
