@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="card shadow-lg border-0 rounded-4 p-4 mt-4 mb-4">
    <h1 class="card-title mb-4 fw-bold text-primary display-6">
        <i class="bi bi-shield-lock-fill me-2"></i> @ViewData["Title"]
    </h1>
    <hr class="mb-4" />


    <div class="mt-4">
        <h3 class="fw-semibold text-secondary mb-3">Information We Collect</h3>
        <p>We collect various types of information in connection with the services we provide, including:</p>
        <ul>
            <li><strong>Personal Data:</strong> This includes your username, email address, and any other information you provide during registration or profile updates.</li>
            <li><strong>Usage Data:</strong> Information about how you access and use the Service, such as project and ticket interactions, timestamps, and IP addresses.</li>
        </ul>

        <h3 class="fw-semibold text-secondary mb-3">How We Use Your Information</h3>
        <p>We use the collected data for various purposes:</p>
        <ul>
            <li>To provide and maintain our Service.</li>
            <li>To notify you about changes to our Service.</li>
            <li>To allow you to participate in interactive features of our Service when you choose to do so.</li>
            <li>To provide customer support.</li>
            <li>To detect, prevent and address technical issues.</li>
        </ul>

        <h3 class="fw-semibold text-secondary mb-3">Disclosure Of Data</h3>
        <p>We may disclose your Personal Data in the good faith belief that such action is necessary to:</p>
        <ul>
            <li>Comply with a legal obligation.</li>
            <li>Protect and defend the rights or property of StackFlow.</li>
            <li>Prevent or investigate possible wrongdoing in connection with the Service.</li>
            <li>Protect the personal safety of users of the Service or the public.</li>
            <li>Protect against legal liability.</li>
        </ul>

        <h3 class="fw-semibold text-secondary mb-3">Security Of Data</h3>
        <p>The security of your data is important to us, but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your Personal Data, we cannot guarantee its absolute security.</p>

        <h3 class="fw-semibold text-secondary mb-3">Changes To This Privacy Policy</h3>
        <p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.</p>
        <p>You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.</p>
    </div>
</div>
